.red{
    background-color: #F54336;
}
.red{
    background-color: #F54336;
}
.red-10{
    background-color: rgb(248, 36, 20);
}
.green{
    background-color: #03A847;
}
.green-forHover{
    background-color: rgb(6, 94, 43);
}
.green-10{
    background-color: #36F585;
}
.yellow{
    background-color: #E4F74F;
}
.blue-10{
    background-color: #176BC2;
}
.blue{
    background-color: #1D62A8;
}
.orange{
    background-color: #FA752B;
}
.white{
    background-color: #fff;
}
.gray-fo{
    background-color: #666;
}
.section-gray{
    background-color: #f1f1f1;
}
.font-white{
    color: white;
}
.font-white-10{
    color: rgb(221, 214, 214);
}
.font-gray{
    color: #666;
}